/* ---- body ----- */
body{
    background-color:whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    margin: 1px ;
    padding:50px;}

    #back-to-top {
        position: fixed;
        bottom: 80px;
        right:80px;
        width: auto;
    }
    #back-to-top > button{
        background-color: lightgray;
        border-radius: 50%;
        border: solid 1px rgb(198, 156, 78);
        width: 50px;
        height: 50px;
    }
    #back-to-top:hover > button {
        border: solid 1px rgb(198, 156, 78);
        background-color: white;
        
    }
    
    #back-to-top:hover > button {
        text-decoration: none;
        color:whitesmoke;}
    
    
    button:hover {
            background-color: wheat;
            text-decoration: none;
        }


/* ---- Headings----- */

h1{color: black;
   text-align: center;}
h3{color: black;
text-align: center;

}/*
header{
    background-image:url(images/Hero-image.png); 
    background-repeat:no-repeat;
    height:80vh;
    font-size:large;
    border: 2px solid black;
    padding: auto;
    padding-bottom: 4rem;
}*/

header{
    margin: auto;
    background-image:url(images/Hero-image.png); 
    background-repeat:no-repeat;

    height: 80vh;
    width: 80vh;
    padding: auto;
    padding-bottom: 4rem;
}

@media only screen and (max-width:650px) {
    body{ 
        font-size: 8px;
        padding: auto;
        background-color:gray;
        
    }}
  
/*@media only screen  and (max-width:1000px){
body{ 
    font-size: 15px;
    padding:auto;
    background-color:gray;
}  }*/
@media only screen  and (min-width:1000px) {
body{ 
    font-size: 18px;
    padding: auto;
    background-color:whitesmoke}}


#navbar { 
    text-align:left;
    text-justify: auto;
}
.nav-link {
    text-decoration: none;
    color:darkblue;
    margin:10px;
} 
/**center image----- */
#laptopImage {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    display: block;
    margin: 0 auto;  
} 
/*
#tabletImage {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;}

 #phoneImage {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;}

/* ---- Content ----- */
section{background-color:white;
    margin: 20px ;
    padding: 50px;}
    
    h2{border-style:solid;
        border-width: 10 px;
        border-radius: 50 px;}

        h3{text-align: center;}
        
    footer{background-color:lightgrey;
            display:-moz-box;           
             margin: 20px ;
             padding: 30px;;
            color: black}
            
            h5{font-size: x-large;}
            

        


        